{% load static %}
<html><body>
    <h1>Super Secure admin panel</h1>
    <h2>(Please leave if you are not admin)</h2>
    <ul>
        <li>Total revenue : {{revenue}} <b>€</b></li>
    </ul> 
    <a href="{% url 'ice_cream:index' %}">Menu</a>

    <form action="{% url 'ice_cream:admin' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Stocks</h1></legend>
            <h2>Flavours</h2>
            <ul>
                {% for stock in stocks %}
                <li>
                    <table>
                        <tr><td>
                            <label><b>{{stock.flavour.name}}</b></label><br>
                            <img src="{% static stock.flavour.img_path %}" alt={{stock.flavour.name}} width=200 height=200/>
                        </td>
                        <td>
                            {% if stock.amount <= 0 %}<label style="color: red"><b>OUT OF STOCK</b></label><br>{% endif %}
                            <label>Stock : {% widthratio stock.amount 40 100 %} %</label><br>
                            <button name={{stock.flavour.name}}>Refill</button>
                        </td>
                        </tr>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </fieldset>
    </form>
</body></html>
